---
import Sidebar from '../components/Sidebar.astro';
import MenuButton from '../components/MenuButton.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, description } = Astro.props;
import { pageTitle, pageDescription, manifest } from '../consts';
import socialMediaImage from '../img/social.png';
import '../css/global.css';

const socialImageUrl = new URL(socialMediaImage.src, Astro.url);
---

<script>
const setup = () => {
  const btn = document.querySelector("[data-button]");
  const wrapper = document.querySelector("[data-wrapper]");
  btn.addEventListener("click", () => {
    btn.classList.toggle("is-active");
    document.documentElement.classList.toggle("is-locked");
    wrapper.classList.toggle("menu-opened");
  })
}
setup()
document.addEventListener('astro:after-swap', () => {
  setup()
})
</script>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title ? `${title} | ${pageTitle}` : pageTitle}</title>
    <meta name="description" content={description || pageDescription}>

    <!-- preload important fonts -->
    <link rel="preload" href="/fonts/bitter-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/bitter-400.woff2" as="font" type="font/woff2" crossorigin>

    <!-- social meta tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.url}>
    <meta property="og:title" content={title || pageTitle}>
    <meta property="og:image" content={socialImageUrl}>
    <meta property="og:description" content={description || pageDescription}>
    <meta property="og:site_name" content={pageTitle}>
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content={Astro.url}>
    <meta name="twitter:title" content={title || pageTitle}>
    <meta name="twitter:description" content={description || pageDescription}>
    <meta name="twitter:image" content={socialImageUrl}>

    <!-- Favicons. -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/favicon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/favicon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/favicon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/favicon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/favicon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/favicon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/favicon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/favicon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/favicon-192x192.png"
		/>
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="msapplication-TileColor" content={manifest.theme_color} />
		<meta name="msapplication-TileImage" content="/favicon-144x144.png" />
		<meta name="msapplication-config" content="/browserconfig.xml" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content={manifest.theme_color} />

		<!-- Service worker registration. -->
		<script is:inline src="/registerSW.js"></script>
		<link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- transitions -->
    <ViewTransitions />
  </head>
  <body>
    <div data-wrapper>
      <a class="skip-to-content-link" href="#main">Skip to content</a>

      <header class="header">
        <a href="/">
          <img src="/favicon-150x150.png" width="50" height="50" alt="Aleksandar Gosevski" />
        </a>
      </header>
      <MenuButton @click="menuButtonClicked" />

      <aside class="sidebar">
        <Sidebar />
      </aside>

      <main id="main" class="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 1em 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @media (--medium) {
    display: none;
  }
}

.menu-opened .sidebar {
  width: 100%;
  left: 0;

  @media (--large) {
    width: var(--sidebar-width);
  }
}

.sidebar {
  width: var(--sidebar-width);
  left: calc(0PX - var(--sidebar-width));
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  transition: left 0.2s;

  @media (--large) {
    left: 0;
  }
}

.main {
  max-width: 800px;
  padding: 2em;
  margin: 5em auto 0;
  color: #333;

  @media (--medium) {
    margin: 0 auto;
  }

  @media (--large) {
    margin-left: calc(var(--sidebar-width) + 2em);
  }
}

.skip-to-content-link {
  display: inline-block;
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 4;
  transform: translateY(-1000%);
  transition: transform 0.3s;
  background: white;
  padding: 0.5em;
  border-radius: 3px;
  color: var(--main-color);

  &:focus {
    transform: translateY(0%);
  }
}
</style>
